version: 2
updates:
  # Enable version updates for docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
    # target-branch: dependency-updates
    # labels:
    #   - "docker dependencies"

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
    # labels:
    #   - "workflow dependencies"
